
        <ul>
            <% for(i = 0; i < links.length; i++){ %>
                <li>
                <a href="<%=links[i].page%>">
                    <%= links[i].name %>
                </a>
                </li>
            <% } %>
        </ul>
